body{
font-family:Arial;
background:#0b0b10;
color:#fff;
margin:0;
}

header{
position:sticky;
top:0;
z-index:999;
background:#000;
color:#b56bff;
padding:15px;
display:flex;
justify-content:space-between;
border-bottom:2px solid #b56bff;
}

button{
cursor:pointer;
}

.container{
padding:20px;
}

.hidden{display:none}

.card{
background:#14141c;
border:1px solid #2a2a35;
padding:10px;
border-radius:10px;
margin-bottom:10px;
}

.card h3,.price{
color:#b56bff;
}

.detail-page{
background:#14141c;
padding:20px;
border-radius:12px;
border:1px solid #2a2a35;
}

.cart{
background:#14141c;
border:1px solid #2a2a35;
padding:15px;
margin-bottom:10px;
border-radius:10px;
display:flex;
justify-content:space-between;
}
